
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 70%;
    position: relative;
}

.content h1{
    font-weight: bold;
}

.content_container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
