{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mini Project</title>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block css_files %}
        {% endblock %}
    </head>


    <body>
        <div class="main_container">
            <div class="nav_bar">
                <h1>Diagnostic Tool</h1>
                <div class="title_line">
                </div>
            </div>
            <div class="nav_pannel">
              <a class= "nav_btn {{ home }}"  href=" {% url 'home_url' %} "><h4>Home</h4></a>
              <a class= "nav_btn {{ about }}"  href=" {% url 'about_url' %} "><h4>About</h4></a>
              <a class= "nav_btn {{ run }}"  href=" {% url 'run_url' %} "><h4>Run</h4></a>
              <a class= "nav_btn {{ real_time }}" href=" {% url 'real_time_url' %} "><h4>Real Time</h4></a>
              <!-- <a class= "nav_btn" href="#">Login</a> -->
             </div>

            {% block content %}

            {% endblock %}
        </div>
         <!-- <script src="{% static 'base_file.js' %}"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
         crossorigin="anonymous"></script> -->
    </body>
</html>
